################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/x64/Debug
*.vcxproj
*.filters
*.user
*.DS_Store
/x64/Release
